body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa; /* Fondo suave */
}

.welcome-container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #0063a9; /* Azul de la bandera de sordos */
}

.progress-bar {
    width: 80%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

.progress {
    height: 100%;
    width: 0;
    background-color: #ffd700; /* Amarillo de la bandera de sordos */
    border-radius: 10px;
    transition: width 5s;
}
