body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa; /* Fondo suave */
}

.welcome-container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #0063a9; /* Azul de la bandera de sordos */
}
#title {
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
  white-space: nowrap;
}

#title span {
  display: inline-block;
  transform: translateX(100%);
  opacity: 0;
  animation: slideIn 1s forwards;
}

/* Dilatar el efecto a lo largo de 5 segundos en total */
#title span:nth-child(1) { animation-delay: 0s; }
#title span:nth-child(2) { animation-delay: 1s; }
#title span:nth-child(3) { animation-delay: 2s; }
#title span:nth-child(4) { animation-delay: 3s; }
#title span:nth-child(5) { animation-delay: 4s; }

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.progress-bar {
    width: 80%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

.progress {
    height: 100%;
    width: 0;
    background-color: #ffd700; /* Amarillo de la bandera de sordos */
    border-radius: 10px;
    transition: width 5s;
}
